.right {
    background: #F7ECDC;
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.notes_defaultContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.notes_content{
    text-align: center;
    width: 600px;
}

.notes_content h1{
    color: #000;
font-size: 50px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 1px;
}

.notes_content img{
    max-width: 100%;
    width: 39rem;
    height: 19rem;
}

.notes_content p{
    color: #292929;
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 32px; /* 145.455% */
letter-spacing: 0.44px;
}

.encryption{
    position: absolute;
    bottom: 5px;
    left: 0;
    right: 0;
    margin-inline:auto;
    display: flex;
    padding: 0.5rem;
    width: 15rem;
    justify-content: space-around;
    align-items: center;
}

.encryption p{
color: #292929;
font-size: 20px;
}